<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bslee.logtoolapk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    
    <!-- 测试框架 -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.bslee.logtoolapk" />

    <application
        android:name="com.bslee.logtoolapk.activity.BugApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 测试框架 -->
        <uses-library android:name="android.test.runner" />

        <activity android:name="com.bslee.logtoolapk.activity.MainActivity" >
        </activity>

        <provider
            android:name="com.bslee.logtoolapk.db.BugProvider"
            android:authorities="com.bslee.logtoolapk.db.BugProvider"
            android:exported="true" >
        </provider>

        <activity android:name="com.bslee.logtoolapk.activity.BugInfoActivity" >
        </activity>
        <activity android:name="com.bslee.logtoolapk.activity.AddUserActivity" >
        </activity>
        <activity android:name="com.bslee.logtoolapk.activity.AppStartAtivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>